body{
    font-family: 'Courier New', Courier, sans-serif;
    background-color: #f6bfbc;
}


#header {
    text-align: center;
}

.container,
ul, ol {
    background-color: #fef4f4;
    border: solid 2px salmon;
    margin: 5px;
}

div,
.head{
    background-color: #D7713B;
}

img {
    height: auto;
    width: 500px;
    border: solid 2px salmon;
    margin: 10px;
}





